* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Righteous", sans-serif;
  color: #333333;
  background-color: #EEEEEE;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #CF2B2B;
  color: #FFFFFF;
  width: 414px;
  height: 92px;
  box-shadow: 0 4px #00000040;
  padding-left: 21px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header h1 {
  font-size: 44px;
  font-weight: 400;
}

.header span {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.conteudo {
  margin-top: 125px;
  width: 414px;
}

.tituloSecao {
  font-size: 26px;
  font-weight: 400;
  padding-left: 19px;
}

.selecaoDeSobremesas,
.selecaoDeBebidas,
.selecaoDePratos {
  display: flex;
  align-items: center;
  height: calc(216px + 17px + 17px);
  padding: 0 8px;
  overflow-x: scroll;
}

.selecaoDeSobremesas::-webkit-scrollbar,
.selecaoDeBebidas::-webkit-scrollbar,
.selecaoDePratos::-webkit-scrollbar {
  display: none;
}

.sobremesa,
.bebida,
.prato {
  display: flex;
  flex-direction: column;
  width: 172px;
  height: 216px;
  border-radius: 9px;
  background-color: #FFFFFF;
  margin: 0 8px;
}

.sobremesa img,
.bebida img,
.prato img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
  margin: 18px 14px 8px;
}

.sobremesa h3,
.bebida h3,
.prato h3 {
  width: 144px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 0 14px;
}

.sobremesa p,
.bebida p,
.prato p {
  display: flex;
  align-items: center;
  width: 144px;
  height: 39px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #A6A6A6;
  margin: 6px 14px;
}

.sobremesa span,
.bebida span,
.prato span {
  width: 144px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin: 0 14px;
}

.sobremesas,
.bebidas {
  margin-top: 10px;
}

.sobremesas {
  margin-bottom: calc(16px + 92px);
}

.selecionado {
  position: relative;
  box-shadow: 0px 0px 0px 5px #32B72F inset;
}

.checkmark {
  display: none;
}

.selecionado .checkmark {
  display: block;
  font-size: 19px;
  color: #32B72F;
  position: absolute;
  bottom: 14px;
  right: 11px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 414px;
  height: 92px;
  background-color: #FFFFFF;
  color: black;
  position: fixed;
  bottom: 0;
}

.footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CBCBCB;
  width: 364px;
  height: 61px;
  border-radius: 50px;
  border: 1px solid #CBCBCB;
}

.footer button p {
  width: 60%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
}

.fecharPedidoCor {
  background-color: #32B72F !important;
  cursor: pointer;
}

.confirmacao {
  background-color: #FFFFFFE5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 414px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
}

.containerConfirmacao {
  background-color: #50D074;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px 1px #00000040;
  width: 377px;
  height: 353px;
  border-radius: 9px;
  color: #FFFFFF;
}

.containerConfirmacao h3 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-top: 21px;
  margin-bottom: 15px;
  height: 27px;
}

.containerConfirmacao .precos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 15px;
}

.total {
  font-weight: 700 !important;
}

.confirmarCompra {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 329px;
  height: 52px;
  border-radius: 100px;
  margin-top: 24px;
  background-color: #FFFFFF;
  border: none;
}

.confirmarCompra p {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #50D074;
}

.confirmarCompra p:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cancelarPedido {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 333px;
  height: 52px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}

.cancelarPedido:hover {
  opacity: 0.8;
  cursor: pointer;
}

.confirmacao {
  display: none;
}

.abrir{
  display: flex;
}